.coming-soon-message-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .coming-soon {
    font-size: 60px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .coming-soon-message-container {
    .coming-soon {
      font-size: 40px;
    }
  }
}
