@import "../../variables.scss";

.reading-starter-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .reading-starter {
    height: auto;

    .golden-text {
      height: 175px;
      position: relative;
    }

    .reading-starter-circle {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .crystal {
        height: 590px;
        margin-top: -90px;
      }

      .inner-circle-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 220px;
        position: absolute;

        .ant-input {
          background-color: black;
          border: 0;
          border-radius: 3px;
          color: white;
          font-size: 1em;
          height: 50px;
          margin-bottom: 20px;
          text-indent: 0.8em;
          width: 270px;
        }

        .ask-btn {
          background-color: black;
          border: 0;
          border-radius: 3px;
          color: white;
          font-size: 1em;
          height: 30px;
          width: 180px;

          &:hover {
            background-color: $primary-color;
            color: black;
            cursor: pointer;
          }
        }

        .error-message {
          font-size: 18px;
          margin-top: 190px;
        }

        .ant-select {
          font-size: 0.9em !important;
          height: 35px;
          margin-bottom: 15px !important;
          width: 200px;
        }

        .ant-select-selector {
          background-color: black !important;
        }

        .ant-select-selection-item,
        .ant-select-selection-placeholder,
        .ant-select-arrow {
          color: white;
        }
      }
    }
  }
}

.spread-dropdown {
  min-height: 120px;

  .ant-select-item-option-selected {
    background-color: $primary-color !important;
  }

  .ant-select-item-option {
    align-items: center;
    display: flex;
    height: 40px;

    &:hover {
      background-color: $secondary-color !important;
    }
  }
}

@media only screen and (min-width: 749px) and (max-width: 800px) {
  .reading-starter-container {
    .reading-starter {
      .golden-text {
        height: 140px;
      }

      .reading-starter-circle {
        .crystal {
          margin-top: -40px;
          height: 620px;
        }

        .inner-circle-content {
          margin-top: 275px;

          .ant-input {
            width: 250px;
          }

          .ask-btn {
            height: 50px;
            width: 180px;
          }

          .error-message {
            margin-top: 140px;
          }

          .ant-select {
            height: 50px;
            margin-bottom: 15px !important;
            width: 200px;
          }

          .ant-select-selector {
            height: 48px;
            padding-top: 8px;
          }
        }
      }
    }
  }

  .spread-dropdown {
    min-height: 140px;

    .ant-select-item-option-selected {
      .ant-select-item-option {
        height: 45px;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .reading-starter-container {
    margin-top: 70px;

    .reading-starter {
      .golden-text {
        height: 90px;
        top: 20px;
      }

      .reading-starter-circle {
        .crystal {
          display: none;
        }

        .circle {
          background-color: white;
          border-radius: 50%;
          height: 320px;
          width: 320px;
        }

        .inner-circle-content {
          margin-top: 70px;
        }
      }
    }
  }
}
