nav {
  margin-bottom: 50px;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    a {
      color: #fff;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        color: #cbc3e3;
      }
    }
  }
}
