@import "../../variables.scss";

.card-container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: auto;
}

.question {
  color: $primary-color;
  margin-bottom: 25px;
}

.fortune {
  color: white;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 40px 0px;
}

.reading-details {
  display: flex;
  flex-direction: row;
}

.save-icon {
  height: 70px;
}

.back-btn {
  background-color: $primary-color !important;
  color: black;
  border: 0 !important;
  border-radius: 3px;
  font-size: 1em;
  height: 35px;
  margin-top: 40px;
  width: 200px;

  &:hover {
    background-color: $secondary-color !important;
    border: 0 !important;
    color: black !important;
    cursor: pointer;
  }
}
