@import "~antd/dist/antd.css";
@import "./variables.scss";

body {
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Merriweather", serif !important;
  margin: 0px;
  padding: 0px;

  .app {
    width: 100%;
  }

  #pixlee_container {
    text-align: center;
    padding-bottom: 50px;

    iframe {
      padding: 100px;
    }
  }
}

@media only screen and (max-width: 960px) {
  body {
    #pixlee_container {
      padding-top: 30px;

      iframe {
        padding: 10px;
        width: 80% !important;
      }
    }
  }
}
